<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795432746338-4m7o9facisnkiirii2f54h3apnsutrc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795432746338-4m7o9facisnkiirii2f54h3apnsutrc7</string>
	<key>API_KEY</key>
	<string>AIzaSyCmezOwIugiKlhrSdu5imdeSI969RTlPy8</string>
	<key>GCM_SENDER_ID</key>
	<string>795432746338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puncher.Grades</string>
	<key>PROJECT_ID</key>
	<string>gradesapp-7474e</string>
	<key>STORAGE_BUCKET</key>
	<string>gradesapp-7474e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795432746338:ios:5d95b72bc223534cc7803b</string>
</dict>
</plist>